.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    width: 640px;
    height: 920px;
    align-self: flex-end;
}

.into h2 {
    font-size: 50px;
}

.intro p {
    font-size: 20px;
}

/* 
    - align-self: center moves the paragraph from top to center
*/
.intro p {
    align-self: center;
}

